{% extends "base.twig" %}

{% set Akcije = fetch('Akcije') %}
{% set tip = _GET['1'] ? _GET['1'] : Akcije[0]['Slug'] %}
{% set SelektovanaAkcija = fetch('Akcije', {"id":tip})[0] %}
{% block description %}{{SelektovanaAkcija.Description}}{% endblock %}

{% block content %}

    <div class="akcije">
        <div class="akcije--left">
            <div class="titles akcije--left--suzi">SUZI Akcije</div>
            <div>
                {% for item in Akcije %}
                    <div class="sub_titles akcije--left--naslov">
                        <a style="font-weight: bold;" class="{{(item.Slug==tip or item.id==tip)?'clicked':''}}" href="akcije/{{item.Slug}}">{{ item.Naslov }}</a>
                        <div class="dates">{{ item.Datum | date("d.m.Y") }}</div>
                            {% if (item.Slug == tip) or ( item.id == tip) %}    
                            
                            <div class="akcije--mobile"> 
                            <div class="akcije--mobile--slika">
                                {% if SelektovanaAkcija.Slika1 %} 
                                    <img class="akcije--mobile--slika--img" src="img/{{SelektovanaAkcija.Slika1}}">
                                {% endif %}
                                {% if SelektovanaAkcija.Slika2 %} 
                                    <img class="akcije--mobile--slika--img" src="img/{{SelektovanaAkcija.Slika2}}">
                                {% endif %}
                                </div>
                                <div class="akcije--mobile--text">{{SelektovanaAkcija.Text | raw }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="akcije--right"> 
            <div class="akcije--right--text">
                <div style="float: left; max-width: 250px; margin-right: 3%;">
                    {% if SelektovanaAkcija.Slika1 %}
                        <img class="akcije--right--slika" src="img/{{SelektovanaAkcija.Slika1}}">
                    {% endif %}
                    {% if SelektovanaAkcija.Slika2 %}
                        <img class="akcije--right--slika" src="img/{{SelektovanaAkcija.Slika2}}">
                    {% endif %}
                </div>
                {{SelektovanaAkcija.Text | raw }}
            </div>
        </div>
    </div>

{% endblock %}