{% extends "base.twig" %}
{% block description %}Postanite clan SUZI udruzenja!{% endblock %}

{% set Home = fetch("Home") %}

{% block content %}
  <div class="clanovi">
    <div class="clanovi--left">
        <div class="clanovi--left-title"><a href="clanovi/Clanstvo-u-Suzi" class="{{('Clanstvo-u-Suzi'==_GET[1]) or (''==_GET[1])?'red':''}}">O članstvu u SUZI</a></div>
        <div class="clanovi--left-title"><a href="clanovi/Spisak-clanova" class="{{('Spisak-clanova'==_GET[1])?'red':''}}">Spisak članova</a></div>
        <div class="clanovi--left-title"><a href="clanovi/Postanite-clan-Suzi" class="{{('Postanite-clan-Suzi'==_GET[1])?'red':''}}">Postanite član!</a></div>
        <div class="clanovi--pridruzi"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdr7vF_FmhxHgAh6SUYnVjgZFSPizvjwkm7JSeSDiGjXLq-3w/viewform?c=0&w=1" target="_blank"><div class="clanovi--pridruzi-button">Prijava za učlanjenje</div></a></div>
    </div>

    <div class="clanovi--right">
        <div>
            {% if ('Clanstvo-u-Suzi'== _GET[1]) or (''==_GET[1]) %}
            <div class="clanovi--opis">
              {{Home.Clanstvo | raw}}
            </div>
            {% endif %}
        </div>
        <div>
            {% if 'Spisak-clanova'== _GET[1] %}
            {% set tip = _GET['2'] ? _GET['2'] : 'Redovni' %}
            <div class="clanovi--spisak">
                <div class="clanovi--spisak-tip">
                <div class="clanovi--spisak-tip--naslov titles">Članovi</div>
                <div class="mobile">
                {% for item in fetch("TipClana") %}
                    <div class="clanovi--spisak-tip--red plain-text {{(item.Naziv == tip) ? 'active-list' : ''}}">
                        <a href="clanovi/Spisak-clanova/{{item.Naziv}}"> {{item.Naziv}}</a>
                    </div>
                {% endfor %}
                    <div class="clanovi--spisak-tip--red plain-text {{('Svi' == tip) ? 'active-list' : ''}}">
                        <a href="clanovi/Spisak-clanova/Svi"> Svi</a>
                    </div>
                </div>
                </div>
                
                {% if (tip == 'Svi') %}
                    <div class="clanovi--spisak-telo">
                    <div class="clanovi--spisak-telo--header">
                        <div class="clanovi--spisak-telo--header-naslov">
                            <div style="width: 30%;" class="clanovi--spisak-telo--header-naslov-deo titles">Status</div>
                            <div style="width: 70%;" class="clanovi--spisak-telo--header-naslov-deo titles">Prezime i Ime</div>
                        </div>
                        <div class="clanovi--spisak-telo--header-naslov titles">Organizacija</div>
                    </div>
                    {% for item in fetch("Clanovi") %}
                        <div class="clanovi--spisak-telo--red">
                            <div class="flex">
                                <div style="width: 30%;" class="clanovi--spisak-telo--red-osoba bold">{{item.Grupa_label}}</div>
                                <div style="width: 70%;" class="clanovi--spisak-telo--red-osoba bold">{{item.Prezime}} {{item.Ime}}</div>
                            </div>
                            <div class="clanovi--spisak-telo--red-osoba"> {{item.Organizacija}} </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="clanovi--spisak-telo">
                    <div class="clanovi--spisak-telo--header">
                        <div class="clanovi--spisak-telo--header-naslov">
                            <div class="clanovi--spisak-telo--header-naslov-deo titles">Prezime</div>
                            <div class="clanovi--spisak-telo--header-naslov-deo titles">Ime</div>
                        </div>
                        <div class="clanovi--spisak-telo--header-naslov titles">Organizacija</div>
                    </div>
                    {% for item in fetch("Clanovi") %}
                        {% if (item.Grupa_label == tip) %}
                        <div class="clanovi--spisak-telo--red">
                            <div class="flex">
                                <div class="clanovi--spisak-telo--red-osoba bold">{{item.Prezime}}</div>
                                <div class="clanovi--spisak-telo--red-osoba bold">{{item.Ime}}</div>
                            </div>
                            <div class="clanovi--spisak-telo--red-osoba"> {{item.Organizacija}} </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
            </div>

        </div>
            {% endif %}
        </div>
        <div>
            {% if 'Postanite-clan-Suzi'== _GET[1] %}
            <div class="clanovi--opis">
                {{Home.ZastoSuzi | raw}}
            </div>

            {% endif %}
        </div>
    </div>
  </div>

{% endblock %}
