{% extends "base.twig" %}

{% set slug = _GET['1']?_GET['1']: fetch('Home').Komisija  %}
{% set Selektovana_komisija = fetch("Komisija", {"id": slug})[0] %} 
{% block description %}{{Selektovana_komisija.Naziv}}{% endblock %}

{% block content %}

  <div class="komisije">
    <div class="komisije--left">
        {% for item in fetch("Komisija") %}
          <div class="komisije--left--naslov">
              <a class="{{((item.Slug == slug) or (item.id == slug))?'clicked':''}}" href="komisije/{{item.Slug}}"> {{item.Naziv}}</a>
          </div>                    
        {% endfor %}
    </div>

    <div class="komisije--right">
        <div class="komisije--right--naziv">{{Selektovana_komisija.Naziv}}</div>
        <div class="komisije--right--deo">
            <div class="komisije--right--deo-title">Oblast rada</div>
            <div class="komisije--right--deo-text">{{Selektovana_komisija.Opis}}</div>
        </div>
        <div class="komisije--right--deo"> 
            <div class="komisije--right--deo-title">Članovi</div>
            <div class="komisije--right--text"> 
                {% for item in fetch("Clanovi_komisije") %}
                    {% if (item.TipKomisije == Selektovana_komisija.id) %}
                    <div class="komisije--right--deo-table">
                        <div class="komisije--right--deo-text">{{item.Ime}}</div>
                        <div style="margin-left: 10px;" class="komisije--right--deo-text">{{item.Period}}</div>
                    </div>
                    {% endif %}
                {% endfor %} 
            </div>
        </div>
        <div class="komisije--right--deo"> 
            <div class="komisije--right--deo-title">Aktivnosti</div>
            <div class="komisije--right--deo-text">{{Selektovana_komisija.Aktivnosti}}</div>
        </div>
    </div>
  </div>

{% endblock %}
