{% extends "base.twig" %}
{% set obavestenja = fetch("Obavestenja", {"id": _GET['1']})[0] %}
{% block description %}{{obavestenja.Naslov}}{% endblock %}

{% block content %}

<div class="vest">
  <div class="vest--title titles">SUZI Obaveštenja</div>
  <div class="vest--container">
    <div class="vest--container-title titles-2">{{obavestenja.Naslov}}</div>
    <div class="dates">{{ obavestenja.Datum | date("d.m.Y") }}</div>
    <div class="vest--container-text plain-text">
    {% if obavestenja.Slika1 or obavestenja.Slika2 %}
      <div class="vest--container-imgs">
        {% if obavestenja.Slika1 %}
          <img class="" src="img/{{ obavestenja.Slika1 }}" alt="SUZI Vest" />
        {% endif %}
        {% if obavestenja.Slika2 %}
          <img class="" src="img/{{ obavestenja.Slika2 }}" />
        {% endif %}
      </div>
    {% endif %}
      {{obavestenja.Text | raw}}
    </div>
  </div>
</div>

{% endblock %}
