{% extends "base.twig" %}

{% block content %}

    <div class="prijatelji">

        <div class="titles" style="margin-bottom: 3%;">Sponzori i Donatori SUZI</div>
        <div class="prijatelji-boks">
            {% set Sponzori = fetch("Sponzori") %}
            {% for item in Sponzori %}
            <div class="prijatelji-boks--1">
                <div class="prijatelji-boks--1--logo">
                    <img src="img/{{item.Logo}}">
                </div>
                <div style="font-size: 14px;" class="prijatelji-boks--1--adresa">{{item.Naziv}} </div>
                <div style="font-weight: normal; margin-top: 0;" class="prijatelji-boks--1--adresa">{{item.Adresa}} </div>
                <div class="prijatelji-boks--1--link"><a href="//{{item.Link}}" target="_blank">{{item.Link}}</a></div>
            </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}