{% extends "base.twig" %}

{% set tip = _GET['1'] %}
{% set Obavestenja = fetch('Prikazi') %}
{% if tip %}
  {% set Selektovano_obavestenje = fetch('Prikazi', {"id":tip})[0] %}
{% else %}
  {% set Selektovano_obavestenje = Obavestenja[0] %}
  {% set tip = Selektovano_obavestenje.Slug %}
{% endif %}
{% block description %}{{Selektovano_obavestenje.Naslov}}{% endblock %}

{% block content %}
    <div class="akcije">
        <div class="akcije--left">
            <div class="titles akcije--left--suzi">SUZI Prikazi</div>
            <div>
                {% for item in Obavestenja %}
                    <div class="sub_titles akcije--left--naslov">
                        <a style="font-weight: bold;" class="{{(item.Slug == tip)?'clicked':''}}" href="suzi_prikazi/{{item.Slug}}">{{ item.Naslov }}</a>
                        <div class="dates">{{ item.Datum | date("d.m.Y") }}</div>
                    </div>
                    {% if item.Slug == tip  %} 
                    <div class="akcije--mobile">
                        {# <div class="dates">{{ item.Datum | date("d.m.Y") }}</div> #}
                        <div class="akcije--mobile--text">{{item.Text | raw }}</div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="akcije--right">
            <div class="akcije--right--naslov sub_titles">{{Selektovano_obavestenje.Naslov}}</div>
            <div class="akcije--right--text">{{Selektovano_obavestenje.Text | raw }}</div>
        </div>
        </div>
    </div>
{% endblock %}
