{% extends "base.twig" %}

{% block content %}

{% set tabele = fetch('select * from _table')%}

{% for i in tabele %}
    <tag style="background-color:{{(_GET['id']==i.name)?'#fd0':''}}"><p><a href="table?id={{i.name}}"> {{i.name}} ({{i.nice_name}})</a></p></tag>
{% endfor %}


{% for tbl in tabele %} 
    {% if tbl.name %}

        {% set cols = fetch('_engine_schema_column', {'table_name':tbl.name} )%}
        {% set rows = fetch( tbl.name )%}

        <h2>{{tbl.name}}</h2>
        
        <table>
        <thead>
        <tr>
        {% for i in cols %}
            <th>
                {{i.field_name}}<br>({{i.nice_name}})
            </th>
        {% endfor %}

        <tr>
        </thead>
        <tbody>
        {% for r in rows %}
        <tr>
            {% for i in cols %}
                <td>
                    {{r[i.field_name]}}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endfor %}

{% endblock %}
