{% extends "base.twig" %}
{% set vesti_svet = fetch("Vesti_svet", {"id": _GET['1']})[0] %}
{% block description %}{{vesti_svet.Naslov}}{% endblock %}

{% block content %}

<div class="vest">
  <div class="vest--title titles">Vesti iz sveta</div>
  <div class="vest--container">
    <div class="vest--container-title titles-2">{{vesti_svet.Naslov}}</div>
    <div class="dates">{{ vesti_svet.Datum | date("d.m.Y") }}</div>
    {# {% if vesti_svet.Slika1 or vesti_svet.Slika2  %}
      <div class="vest--container-imgs">
        {% if vesti_svet.Slika1  %}
          <img class="" src="img/{{ vesti_svet.Slika1 }}" alt="SUZI Vest" />
        {% endif %}
        {% if vesti_svet.Slika2 %}
          <img class="" src="img/{{ vesti_svet.Slika2 }}" />
        {% endif %}
      </div>
    {% endif %} #}
    <div class="vest--container-text plain-text">
    {% if vesti_svet.Slika1 or vesti_svet.Slika2  %}
      <div class="vest--container-imgs">
        {% if vesti_svet.Slika1  %}
          <img class="" src="img/{{ vesti_svet.Slika1 }}" alt="SUZI Vest" />
        {% endif %}
        {% if vesti_svet.Slika2 %}
          <img class="" src="img/{{ vesti_svet.Slika2 }}" />
        {% endif %}
      </div>
    {% endif %}
      {{vesti_svet.Text | raw}}
      
    </div>
  </div>
</div>

{% endblock %}
