{% extends "base.twig" %}
{% block description %}Vesti SUZI{% endblock %}

{% block content %}
  {% set vesti_svet = fetch("Vesti_svet") %}
  {% set vesti_suzi = fetch("Vesti_suzi") %}
  {% set obavestenja = fetch("Obavestenja") %}

  <div class="vesti">
    <div class="vesti--suzi">
      <div class="vesti--suzi-naslov titles">SUZI Vesti</div>
      {% for suzi in vesti_suzi %}
      <div class="vesti--suzi-vest">
        <div class="vesti--suzi-vest--link sub_titles"><a href="vest-suzi/{{suzi.Slug}}">{{ suzi.Naslov }}</a></div>
        {% if suzi.Slika1 %}
          <div class="slika-small"><a href="vest-svet/{{suzi.Slug}}"><img class="slika" src="img/{{ suzi.Slika1 }}"></a></div>
        {% endif %}
        <div class="dates">{{ suzi.Datum | date("d.m.Y") }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="vesti--svet">
      <div class="vesti--svet-naslov titles">Vesti iz sveta</div>
      {% for svet in vesti_svet %}
      <div class="vesti--svet-vest">
        <div class="vesti--svet-vest--naslov sub_titles"><a href="vest-svet/{{svet.Slug}}">{{ svet.Naslov }}</a></div>
        {% if svet.Slika1 %}
          <div class="slika-small"><a href="vest-svet/{{svet.Slug}}"><img class="slika" src="img/{{ svet.Slika1 }}"></a></div>
        {% endif %}
        <div class="dates">{{ svet.Datum | date("d.m.Y") }}</div>
      </div>
      {% endfor %}
    </div>
    {# <div class="vesti--prikazi">
      <div class="vesti--prikazi-naslov titles">SUZI prikazi</div>
      {% for prikaz in suzi_prikazi %}
      <div class="vesti--prikazi-vest">
        <div class="vesti--prikazi-vest--naslov sub_titles"><a href="suzi-prikaz/{{prikaz.Slug}}">{{ prikaz.Naslov }}</a></div>
        {% if prikaz.Slika1 %}
          <div class="slika-small"><a href="suzi-prikaz/{{prikaz.Slug}}"><img class="slika" src="img/{{ prikaz.Slika1 }}"></a></div>
        {% endif %}
        <div class="dates">{{ prikaz.Datum | date("d.m.Y") }}</div>
      </div>
      {% endfor %}
    </div> #}
    <div class="vesti--prikazi">
      <div class="vesti--prikazi-naslov titles">SUZI Obaveštenja</div>
      {% for item in obavestenja %}
      <div class="vesti--prikazi-vest">
        <div class="vesti--prikazi-vest--naslov sub_titles"><a href="obavestenja/{{item.Slug}}">{{ item.Naslov }}</a></div>
        {% if item.Slika1 %}
          <div class="slika-small"><a href="obavestenja/{{item.Slug}}"><img class="slika" src="img/{{ item.Slika1 }}"></a></div>
        {% endif %}
        <div class="dates">{{ item.Datum | date("d.m.Y") }}</div>
      </div>
      {% endfor %}
    </div> 
    
  </div>
{% endblock %}
