<!DOCTYPE html>
<html lang="en">
<head>
  <title>SUZI</title>
  <base href="{{_BASE}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> #}
</head>
<body>


{% set Vesti_svet = fetch("Vesti_svet") %}
<h2>Vesti / Svet</h2>
<table border=1 style="width:100%">
<tr>
  <td>id</td>
  <td>Naslov</td>
  <td>Tekst</td>
  <td>Datum</td>
  <td>Slika</td>
</tr>
{% for item in Vesti_svet %}
<tr>
  <td> {{item.id}} </td>
  <td> {{item.Naslov}} </td>
  <td> {{item.Text}} </td>
  <td> {{item.Datum}} </td>
  <td> <img style="max-height:80px" src="img/{{item.Slika1}}" </td>
</tr>
{% endfor %}
</table>
</div>

</body>
</html>