{% extends "base.twig" %}
{% set suzi_vesti = fetch("Vesti_suzi", {"id": _GET['1']})[0] %}
{% block description %}{{suzi_vesti.Naslov}}{% endblock %}

{% block content %}

<div class="vest">
  <div class="vest--title titles">SUZI Vesti</div>
  <div class="vest--container">
    <div class="vest--container-title titles-2">{{suzi_vesti.Naslov}}</div>
    <div class="dates">{{ suzi_vesti.Datum | date("d.m.Y") }}</div>
    <div class="vest--container-text plain-text">
    {% if suzi_vesti.Slika1 or suzi_vesti.Slika2 %}
      <div class="vest--container-imgs">
        {% if suzi_vesti.Slika1 %}
          <img class="" src="img/{{ suzi_vesti.Slika1 }}" alt="SUZI Vest" />
        {% endif %}
        {% if suzi_vesti.Slika2 %}
          <img class="" src="img/{{ suzi_vesti.Slika2 }}" />
        {% endif %}
      </div>
    {% endif %}
      {{suzi_vesti.Text | raw}}
    </div>
  </div>
</div>

{% endblock %}
